body{
	background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  	background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  	background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
	font-family: 'Raleway', sans-serif;
	color: black;
}

#login-box {
	margin-left: 20%;
	margin-top: 10%;
}
.navbar-right {
	padding-right: 40px;
}
.modal {
	background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
	font-family: 'Raleway', sans-serif;
	color: black;
}

#filtertable{
	background-color: aliceblue;
}
#filtertable th, #filtertable tr {
    color: black;
}
.well {
	text-align: center;
	font-weight: bold;
	color: black;
	padding: 10px;
	font-size: 20px;
}
.errorMessage {
	color: red;
}

h5, p {
	color: antiquewhite;
}
#billPreview{
	background: white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 10px;
}

#billPreview table{
	border: none;
}